* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    /* background: #ccc; */
    margin: auto;
    overflow: hidden;
}

header {
    /* background: url('../img/pexels-life-of-pix-42408\ \(1\).jpg') #8c8b8a; */
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../img/pexels-life-of-pix-42408\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
}

header .menu {
    margin: 40px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid #fff;
}

header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}

header .contenedor-texto .texto {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    
       
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #fff;
    /* color: #191716; */
    /* color: #8c8b8a; */
    /* color: #8db255 ; */
    font-weight: 400;
    margin: 0;
}

header .contenedor-texto .texto .name {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .contenedor-texto .texto .profession{
    font-size: 25px;
    line-height: 25px;
} 
/* main  about*/

.main .contenedor{
    overflow: visible;
}
.main .about{
    text-align: center;
}
.main .about .photo{
    margin-top: -60px;
}
.main .about .photo img{
    vertical-align: top;
    border-radius: 40%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .about .text{
    color: #5a5a5a;   
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .about .text .title{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color:#ff4e20;
    text-align: center;
}
.main .about .text .bold{
    color: #ff4e20;
    text-decoration: none;
}

.main .about .text .lab{
    color: #8db255;
    text-decoration: none;
}

/* main trabajos */

.main .works{
    background: #f2f2f2;
    padding: 60px 0;
}

.main .works .contenedor{
    overflow: hidden;
}

.main .works .title{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color:#ff4e20;
    text-align: center;
}

.main .works .contenedor-works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .works .contenedor-works .work{
    width: 23%;
    margin-bottom: 40px;
}
.main .works .contenedor-works .work .thumb{
    width: 100%;
    margin-bottom: 10px;
}
.main .works .contenedor-works .work .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}
.main .works .contenedor-works .work .description{
    text-align: center;
}
.main .works .contenedor-works .work .description .name{
    font-weight: 700;
    color: #8db255;
    margin-bottom: 10px;
}
.main .works .contenedor-works .work .description .category{
    font-size: 14px;
    color: #636363;
}

.main .works .contenedor-works .work .buttons{
    text-align: center;
    padding: 10px 10px;
}
.main .works .contenedor-works .work .buttons .demo{
    margin: auto;
    background: #8db255;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 7px 17px;
    cursor: pointer;
    text-decoration: none;
}

.main .works .contenedor-works .work .buttons .github{
    margin: auto;
    background: #8db255;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 7px 17px;
    /* cursor: pointer; */
    text-decoration: none;
}

/* .main .works .contenedor-works .work .buttons:hover{
    background: #8db255;
} */


/* footer */

footer .contact{
    background: #1e2b38;
    padding: 60px 0;
}
footer .contact .title{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color:#ff4e20;
    text-align: center;
}
/* footer .contact .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .contact .formulario input[type="text"],
footer .contact .formulario input[type="email"],
footer .contact .formulario textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contact .formulario input[type="text"]:focus,
footer .contact .formulario input[type="email"]:focus,
footer .contact .formulario textarea:focus {
    outline:none;
    border: 2px solid #8db255;
}
footer .contact .formulario input[type="text"],
footer .contact .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}
footer .contact .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    margin-bottom: 15px;
}
footer .contact .formulario .boton{
    margin: auto;
    background: #8db255;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}
footer .contact .formulario .boton:hover{
    background: #8db255;
} */

footer .redes-sociales{
    background: #1e2b38;
    padding: 60px 0;
}
footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;

}

footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 0 0 15px 0;
    border-radius: 3px;
    font-size: 60px;
    /* background: #ccc; */
    margin: 0 20px 20px 20px;
}
footer .redes-sociales .github:hover{
    background: #333;

}
footer .redes-sociales .linkedin:hover{
    background: #0077b5;
}
footer .redes-sociales .download:hover{
    background: #0077b5;
}

/* media queries */

@media screen and (max-width: 800px) {
    header .menu{
        text-align: center;
    }

    .main .works .contenedor-works .work{
        width: 46%;
    }

    .main .works .contenedor-works .work .buttons .demo{
        padding: 6px 15px;
    }
    
    .main .works .contenedor-works .work .buttons .github{
        padding: 6px 15px;
    }
    
}

@media screen and (max-width: 500px) {
    header .contenedor-texto .texto .name{
        font-size: 35px;  
    }  
    header .contenedor-texto .texto .profession{
        font-size: 18px;  
    }

    .main .works .contenedor-works .work{
        width: 75%;
        /* align-items: center; */
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 40px; */
    }
    .main .works .contenedor-works .work .buttons .demo{
        padding: 4px 13px;
    }
    
    .main .works .contenedor-works .work .buttons .github{
        padding: 4px 13px;
    }
    /* footer .redes-sociales .contenedor{
        flex-wrap: wrap;
        padding: 20px 0;
    } */
}